<div class="bodyContent">
	<div id="imagePlaceholder"></div>
	<p class="textcontrol">"Hello Champion of Light! I'd like to ask you a few questions before we get started, alright?<br>
	First, whats your name?"</p>
	<input type="text" name="firstname" value="At least five letters">
	<div type="button" onclick="nameSubmit()" id="submitNameBtn" class="continue">Continue</div>
	<br><br>
</div>