<!-- Gender page lead to race page-->
<meta charset=utf-8 />

<div class="bodyContent">
	<div id="imagePlaceholder"></div>
	<p class="textcontrol">Ready to start your adventure?!</p>
	<button class="btn btn-danger">Start!</button>
	<br><br>
</div>

<!-- <script src="/app/assets/javascripts/application.js"></script>
 -->