<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Heroic Story</title>
</head>
<body>
	<div id="gender">
		
				<input type="image" id="male" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/rounded-glossy-black-icons-symbols-shapes/020736-rounded-glossy-black-icon-symbols-shapes-male-symbol1-sc48.png">
		


		
				<input type="image" id="female" src="http://vignette4.wikia.nocookie.net/warriors/images/3/31/Female_black_symbol.svg/revision/latest?cb=20100515172602"/>		
		
	</div>













<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="assets/javascripts/application.js"></script>
</body>
</html>